* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "helvetica", "arial", sans-serif;
}

@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }       
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
      body {
        background-color: #F5CF8E; /* Yellow */
    }
}
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }
    body {
        background-color: #dde0e3;
    }
}

.body-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1600px;
    /* border: 1px solid white; */ /*used for debugging*/
    margin-top: 50px;
}

.about-me-photo {
    display: flex;
}

.text-container {
    display: flex;
    width: 500px;
    flex-direction: column;
    margin: 100px;
}

.intro {
    margin-top: 20px;
}

.list-container {
    display: flex;
    width: 800px;
    margin-top: 50px;
}

li {
    margin: 0px 0px 25px;
}

.footer {
    display: flex;
    border-top: 1px solid rgb(39, 39, 39);
    margin-top: 50px;
    width: 1600px;
    justify-content: center;
}

.menu {
    display: flex;
    margin-top: 25px;
}

.navigation {
    float: left;
    margin: 0px 10px;
    list-style-type: none;
}

a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
color: purple;
}
a:hover {
color: aqua;
text-decoration: underline;
}
a:active {
color: red;
}